%h1 About Achievr

%h3 How it works

%p You add your goals (you can have as many as you like) and then you add a checklist of all the things you need to do in order to achieve your goal which lets you visualise your progress. You can also set a deadline if you want to make sure you get fit in time for the marathon or finish the playroom before the baby's due.

%h3 Why's it free?

%p Why not? I needed a service like this myself, and found that no good free ones existed, so I set about making one. And there's no point keeping good things to yourself!