!!!
%html
  %head
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
  %body
    .top
    .bar
      .wrapper

    .circle
      <img src="achieve-plus.png" /> 

    .wrapper
      .goal
        %h2 Goal title
        %p Goal description goal description goal description goal description goal description goal description goal description goal description
        %h5 Percentage completed
        %p 95%
      .goal
        %h2 Another goal
        %p This is a description of my second goal that I want to achieve.
        %h5 Percentage completed
        %p 42%
      .goal
        %h2 A thid and final goal
        %p This is a description wFDS SD AD as SRGSRG rsg fbv sdfof my second goal that I want to achieve.
        %h5 Percentage completed

    %footer.footer
      .wrapper
        %nav
          %ul
            %li About
            %li Account
            %li Contact
